.header {
  background-color: #f0ecec;
  color: var(--black);
  padding: 2vh 0;
  border-bottom: 1px solid rgb(77, 73, 73);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
  }
  .h2 {
    cursor: pointer;
    &::first-letter {
      font-size: 2rem;
      color: var(--purple);
    }
    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 2.1px;
      position: relative;
      bottom: 2px;
      background-image: linear-gradient(
        to right,
        #4046c7,
        #006cdd,
        #008ce9,
        #0caaee,
        #5ec5f0
      );
      transition: linear 1s;
    }
    &:hover::after {
      width: 0%;
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .search-input {
      border: none;
      padding: 8px 15px;
      border-radius: 30px 0 0 30px;
      font-size: 16px;
      width: 30vw;
      outline: none;
      transition: width 0.3s ease-in-out;
      &:focus {
        max-width: 25vw;
      }
    }
    .search-button {
      background-color: var(--purple);
      color: white;
      border: none;
      border-radius: 0 3vh 3vh 0;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #2980b9;
      }
    }
  }
  .list {
    ul {
      display: inline-flex;
      gap: 2.4vh;
      li {
        a {
          color: var(--black);
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container,
  .list > ul {
    flex-direction: column;
    .list > ul {
      margin-top: 1vh;
    }
    .search-container {
      input[type="text"] {
        width: 100%;
      }
    }
  }
}
