<div class="cart-page">
  <div class="row">
    <div class="details">
      <ul *ngFor="let cart of cartItems">
        <li>
          <img src="{{ cart.image }}" alt="" />
        </li>
        <li>
          <span> {{ cart.name }}</span>
        </li>
        <li>
          <span> {{ cart.category }}</span>
        </li>
        <li>
          <span> Price : {{ cart.price }}</span>
        </li>
        <li>
          <div class="quantity">
            <button class="minus" (click)="handleQuantity(cart, 'min')">
              -
            </button>
            <input type="text" value="{{ cart.quantity }}" />
            <button class="plus" (click)="handleQuantity(cart, 'plus')">
              +
            </button>
          </div>
        </li>
        <li>
          <button class="form-button" (click)="removeToCart(cart.id)">
            Remove
          </button>
          <br /><br />
          <p>
            <strong>SubTotal :</strong>
            {{ cart.quantity * cart.price | currency : "INR" }}
            >
          </p>
        </li>
      </ul>
    </div>
    <ul class="grand-total">
      <li>Grand Total :</li>
    </ul>
  </div>
</div>
