<div class="cart-page">
  <div class="row">
    <div class="details">
      <ul *ngFor="let cart of cartItems">
        <li>
          <img src="{{ cart.image }}" alt="" />
        </li>
        <li>
          <span> {{ cart.name }}</span>
        </li>
        <li>
          <span> {{ cart.category }}</span>
        </li>
        <li>
          <span> Price : {{ cart.price }}</span>
        </li>
        <li>
          <div class="quantity">
            <input type="button" value="-" class="minus" />
            <input
              type="number"
              value="{{ cart.quantity }}"
              min="1"
              class="input-text"
            />
            <input type="button" value="+" class="plus" />
          </div>
        </li>
        <li>
          <button class="form-button" (click)="removeToCart(cart.id)">
            Remove
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
