.cart-page {
  margin-top: 40px;
  .details {
    img {
      height: 12vh;
    }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 15px;
    }
    .form-button {
      padding: 4px 15px;
      border: 1px solid var(--purple);
      background-color: var(--white);
      border-radius: 1rem;
      color: var(--purple);
      &:hover {
        background-color: #dcdcdc;
      }
    }
  }
  .quantity {
    input {
      width: 35px;
      height: 39px;
      text-align: center;
      background-color: transparent;
      border: 1px solid #efefef;
      &:hover {
        background: #eeeeee;
      }
    }
    .minus,
    .plus {
      padding: 7px 10px 8px;
      height: 41px;
      background-color: #ffffff;
      border: 1px solid #efefef;
      cursor: pointer;
      &:hover {
        background: #eeeeee;
      }
    }
  }
  .grand-total {
    li {
      margin: 0 2rem;
      text-align: right;
    }
  }
}
