<section class="container">
  <ng-container *ngFor="let product of productDetails">
    <div class="product">
      <img src="{{ product.image }}" alt="" />
      <h3 class="mp-0">
        <p class="mp-0">{{ product.category }}</p>
        <strong>{{ product.name }}</strong>
      </h3>
      <h3 class="product-price"><strong>price:</strong>{{ product.price }}</h3>
      <div class="flex justify-space-between align-baseline">
        <button mat-flat-button (click)="addToCart(product)">
          Add To Cart
        </button>
        <div class="flex quantity-group">
          <button (click)="handleQuantity(product, 'min')">-</button>
          <input type="text" value="{{ product.quantity }}" />
          <button (click)="handleQuantity(product, 'plus')">+</button>
        </div>
      </div>
    </div>
  </ng-container>
</section>
