/* You can add global styles to this file, and also import other style files */

:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #6b4ce6;
}

html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}
