<nav>
  <ul class="menu">
    <li>
      <a href="#" id="opa">Product1▼</a>
      <ul>
        <li><a href="#">Mobiles</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Tablets</a></li>
      </ul>
    </li>
    <li>
      <a href="#" id="opa">Product2▼</a>
      <ul>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Kids</a></li>
      </ul>
    </li>
    <li>
      <a href="#" id="opa">Product3▼</a>
      <ul>
        <li><a href="#">T-shirt</a></li>
        <li><a href="#">T-shirt</a></li>
        <li><a href="#">T-shirt</a></li>
        <li><a href="#">T-shirt</a></li>
      </ul>
    </li>
    <li><a href="#" id="opa">Product4</a></li>
    <li><a href="#" id="opa">Product5</a></li>
    <li><a href="#" id="opa">Product6</a></li>
    <li><a href="#" id="opa">Product7</a></li>
    <li><a href="#" id="opa">Product8</a></li>
  </ul>
</nav>
