.main {
  background-color: #ece7e3;
}
.section-1 {
  $color_1: #ffffff;
  $color_2: #f2f2f2;
  $background-color_1: rgba(0, 0, 0, 0.8);
  $background-color_2: #bbb;
  $background-color_3: #717171;

  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .product {
      width: 31%;
      margin: 10px;
      padding: 5px;
      border: 1px solid #989696;
      border-radius: 5px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 1vh;
        transition: transform 0.5s;
        &:hover {
          display: block;
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product {
    width: 90%;
    margin: 10px auto;
  }
}
